
.success, .error{
    color: white;
    padding: 5px;
    margin: 5px 0 15 px 0;
}

.success {
background: green;

}

.error {
    background: red;
}

@media (min-width: 768px){
    .formulario{
        background-color: var(black);
        width: min(60 rem, 100%);
        margin: 0 auto;
        padding: 2rem;
        border-radius: 1rem;
        grid-column: 1 /3;
    }
}